<!-- Botón Volver -->
<div class="flex flex-col sm:flex-row items-start sm:items-center justify-between max-w-3xl mx-auto px-4 mt-6 gap-4 ">
  <div class="w-10 h-10">
    <button (click)="exit()"
      class="w-full h-full flex items-center justify-center border-2 border-[var(--color-button)] rounded-full text-[var(--color-dark)] hover:bg-[var(--button-table)] dark:bg-[var(--color-title)] hover:text-white hover:border-[var(--color-dark)] transition-all duration-200 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10">
        <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</div>
<div class="max-w-3xl mx-auto mt-10 bg-white dark:bg-[var(--color-dark2)] p-6 rounded-lg border-1 border-gray-100 dark:border-gray-800 shadow-lg space-y-5">
  <form [formGroup]="formSensors">
    <h2 class="relative text-center text-2xl font-semibold text-[var(--color-button)] dark:text-[var(--color-title)] mb-6">
      <span class="relative z-10 bg-white dark:bg-[var(--color-dark2)] px-4">{{'Form.SensorT' | translate }}</span>
      <span class="absolute top-1/2 left-0 w-full border-t border-[var(--color-dark)] dark:border-[var(--color-title)] z-0"></span>
    </h2>


    <div class="space-y-6 mb-8">
      <div>
        <label for="sensorName" class="block text-sm font-medium text-black dark:text-white mb-1">{{'Form.Name' | translate }}</label>
        <input id="sensorName" formControlName="sensorName" type="text" [placeholder]="'Form.PlaceholderName' | translate"
          class="w-full bg-gray-200 p-2 border border-[#026802] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4e9d18] focus:bg-[#c6e4a9]">
        @if(formSensors.invalid && formSensors.touched){
          @if(formSensors.get('sensorName')?.hasError('required')){
            <p class="text-red-500 text-sm pt-1 pl-2">{{'Form.NameError' | translate }}</p>
          }
        }
      </div>
   

    <div>
      <label for="sensorType" class="block text-sm font-medium text-black dark:text-white mb-1">{{'Form.SelectionType' | translate }}</label>
      <select id="sensorType" formControlName="sensorType"
        class="w-full bg-gray-200 p-2 border border-[#026802] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4e9d18] focus:bg-[#c6e4a9]">
        <option disabled value='0'>{{'Form.PlaceholderType' | translate }}</option>
        @for(item of TypeOfSensors ; track $index){
          <option>{{item.nombre}}</option>
        }
      </select>
    </div>

    <div>
      <label for="sensorMinValue" class="block text-sm font-medium text-black dark:text-white mb-1">{{'Form.MinValue' | translate }}</label>
      <input id="sensorMinValue" formControlName="sensorMinValue" type="number"[placeholder]="'Form.PlaceholderMin' | translate"
        class="w-full bg-gray-200 p-2 border border-[#026802] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4e9d18] focus:bg-[#c6e4a9]">
      @if(formSensors.invalid && formSensors.touched){
        @if(formSensors.get('sensorMinValue')?.hasError('required')){
          <p class="text-red-500 text-sm pt-1 pl-2">{{'Form.MinError' | translate }}</p>
        }
      }
    </div>

    <div>
      <label for="sensorMaxValue" class="block text-sm font-medium text-black dark:text-white mb-1">{{'Form.MaxValue' | translate }}</label>
      <input id="sensorMaxValue" formControlName="sensorMaxValue" type="number" [placeholder]="'Form.PlaceholderMax' | translate"
        class="w-full bg-gray-200 p-2 border border-[#026802] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4e9d18] focus:bg-[#c6e4a9]">
      @if(formSensors.invalid && formSensors.touched){
        @if(formSensors.get('sensorMaxValue')?.hasError('required')){
          <p class="text-red-500 text-sm pt-1 pl-2">{{'Form.MaxError' | translate }}</p>
        }
      }
    </div>

    <div>
      <label for="sensorPlcId" class="block text-sm font-medium text-black dark:text-white mb-1">{{'Form.PlcName' | translate }}</label>
      <input id="sensorPlcId" formControlName="sensorPlcId" type="text" [placeholder]="'Form.PlaceholderPlc' | translate"
        class="w-full bg-gray-200 p-2 border border-[#026802] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4e9d18] focus:bg-[#c6e4a9]">
      @if(formSensors.invalid && formSensors.touched){
        @if(formSensors.get('sensorPlcId')?.hasError('required')){
          <p class="text-red-500 text-sm pt-1 pl-2">{{'Form.PlcError' | translate }}</p>
        }
      }
    </div>

    <div>
      <label for="unitId" class="block text-sm font-medium text-black dark:text-white mb-1">{{'Form.UnitSensor' | translate }}</label>
      <select id="unitId" formControlName="unitId"
        class="w-full bg-gray-200 p-2 border border-[#026802] rounded-lg focus:outline-none focus:ring-2 focus:ring-[#4e9d18] focus:bg-[#c6e4a9]">
        <option disabled value='0'>{{'Form.PlaceholderUnit' | translate }}</option>
        @for(item of TypeOfSensors ; track $index){
          <option>{{item.nombre}}</option>
        }
      </select>
    </div>

    <div class="mt-6">
      <button (click)="createSensor()" [disabled]="formSensors.invalid"
        class="w-full lg:w-full xl:w-2/3 2xl:w-1/3 bg-[var(--color-button)] text-white border-1 border-[var(--color-dark)] py-2 rounded-full shadow-lg hover:bg-[var(--button-table)] focus:outline-none focus:ring-2 focus:ring-[#4e9d18] disabled:bg-red-900 disabled:cursor-not-allowed mx-auto block cursor-pointer">
       {{'Form.Create' | translate }}
      </button>
    </div>

  </div>
  </form>
</div>



